body{
    background:#050811;
    color:white;
    font-family:Inter,Arial;
    }
    .admin-container{
    width:600px;
    margin:50px auto;
    background:#0b1120;
    padding:30px;
    border-radius:20px;
    }
    input,
    textarea{
    width:100%;
    margin:10px 0;
    padding:12px;
    background:#111827;
    border:1px solid #333;
    color:white;
    border-radius:10px;
    }
    button{
    padding:12px 20px;
    background:#38bdf8;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    }
    hr{
    margin:30px 0;
    }
    .admin-card{
        background:#111827;
        padding:15px;
        margin:10px 0;
        border-radius:12px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        }
        .admin-card button{
        margin-left:10px;
        background:#38bdf8;
        }